   :root {
  --input-padding-x: .75rem;
  --input-padding-y: .75rem;
}

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  /* background-color: #f5f5f5; */
  background: #141E30;
  background: -webkit-linear-gradient(to bottom, #243B55, #141E30);
  background: linear-gradient(to bottom, #243B55, #141E30);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

#greeting{
  font-size: 40pt
}
.login,.register {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
  color: white;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE ------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}

.hidden {
      visibility: hidden;
    }

    h1 {
      font-family: 'Nunito Sans', sans-serif;
      font-size: 6em;
    }

    img {
      margin-bottom: 20px;
    }

.flippant {
  transform: perspective(500px) rotateY(0deg);
  -webkit-transform: perspective(500px) rotateY(0deg);
  -moz-transform: perspective(500px) rotateY(0deg);
  /*z-index: 200;*/
}

.flippant-back {
  transform: perspective(500px) rotateY(-180deg);
  -moz-transform: perspective(500px) rotateY(-180deg);
  -webkit-transform: perspective(500px) rotateY(-180deg);
  height: 0;
  /*z-index: 200;*/
}

.flippant,
.flippant-back {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.flippant,
.flipper {
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.flippant.flipped {
  transform: perspective(500px) rotateY(180deg);
  -moz-transform: perspective(500px) rotateY(180deg);
  -webkit-transform: perspective(500px) rotateY(180deg);
}

.flippant-back.flipped {
  transform: perspective(500px) rotateY(0deg);
  -moz-transform: perspective(500px) rotateY(0deg);
  -webkit-transform: perspective(500px) rotateY(0deg);
}

.flippant-modal-dark,
.flippant-modal-light {
  position: fixed;
  margin: 0;
  top: 2.5%;
  left: 2.5%;
  width: 95%;
  height: 95%;
  padding: 1em;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.flippant-modal-dark,
.flippant-modal-dark p {
  color: white;
}

.flippant-modal-light {
  /* background: rgba(230, 230, 230, 0.7); */
  background: #2c3e50;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  border: 1px solid #aaa;
}

