<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>flippant-login</title>
  
  
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Nunito+Sans'>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>

      <link rel="stylesheet" href="./style.css">

  
</head>

<body>

  <form id="form-signin" class="form-signin">
	<div id="logo" class="text-center mb-4">
		<i class="far fa-smile"></i>
		<h1 class="mb-3 font-weight-normal">Smile</h1>
		<h4 id="greeting">Добро пожаловать</h4>
	</div>
	<div id="flipthis">
		<div class="form-label-group">
			<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
			<label for="inputEmail">Телефон или Email</label>
		</div>

		<div class="form-label-group">
			<input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" maxlength="6">
			<label for="inputPassword">Пароль</label>
		</div>

		<div class="text-center">
			<button class="btn btn-primary btn-lg btn-block" type="submit">Войти</button>
		</div>
	</div>
	<div class="text-center">
		<br />
		<a id="flipCard" class="" href="#">Забыли пароль?</a>
		<br />
		<a id="flipReg" class="" href="register.html">Регистрация</a>
	</div>
</form>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/popper.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js'></script>
<script src='https://labs.mintchaos.com/flippant.js/flippant.min.js'></script>

  

    <script  src="./script.js"></script>




</body>

</html>
